<div class="title">{{ title }}</div>
<div class="dropdown-button">
  <div class="oval-menu" [ngClass]="{ 'open-menu': opened }">
    @if (!selected) { Выберите } @else { Выбрано: {{ selected.title }}}
    <span class="mr-10 click" (click)="openMenu($event)">▼</span>
  </div>
  @if(opened){
  <div class="dropdown-list click">
    @for ( item of array; track $index) {
    <div class="item-sel" (click)="select(item)">
      {{ item.title }}<span class="mr-10 fw-bold">{{ item.value }}</span>
    </div>
    }
  </div>
  }
</div>
