<div class="dropdown-button">
  @if (!selected) {
  <div class="oval-menu">
    Выберите
    <span class="mr-10" (click)="openMenu()">▼</span>
  </div>
  } @else {
  <div class="oval-menu">
    Выбрано: {{ selected.title }}
    <span class="mr-10" (click)="openMenu()">▼</span>
  </div>
  }
</div>
<div class="dropdown-list">
  @if(opened){ @for ( item of array; track $index) {
  <div class="item-sel" (click)="select(item)">
    {{ item.title }}<span class="mr-10 fw-bold">{{ item.value }}</span>
  </div>
  } }
</div>
