<div class="col">
  @for (item of products; track $index) {
  <div class="prod">
    <div class="name">{{ item.name }}</div>
    <div class="description">{{ item.description }}</div>
    <div class="date">{{ item.date }}</div>
    <div>
      <button class="button">
        <a routerLink="/edit/{{ item.id }}" class="link">Редактировать</a>
      </button>
      <button class="button" (click)="deleteProduct(item.id)">Удалить</button>
    </div>
  </div>
  }
  <button class="button">
    <a routerLink="/create" class="link">Создать продукт</a>
  </button>
  <app-oval-menu [array]="List" (selectedVal)="output($event)"></app-oval-menu>
</div>
