<form [formGroup]="form" novalidate (ngSubmit)="submit()">
  <div class="input">
    <label>Наименование продукта</label>
    <input formControlName="nameProduct" />

    @if(form.controls["nameProduct"].invalid &&
    form.controls["nameProduct"].touched){
    <div class="alert">Не указано имя</div>
    }

    <label>Стоимость продукта</label>
    <input type="number" formControlName="priceProduct" />

    @if(form.controls["priceProduct"].invalid &&
    form.controls["priceProduct"].touched){
    <div class="alert">Не указана цена</div>
    }
<div class="but-flex">
    <button
      class="button"
      (click)="isEdit ? editProduct() : createProduct()"
      type="submit"
      [disabled]="form.invalid"
    >
      Отправить
    </button>
    <button class="button" type="button" (click)="clearForm()">Очистить</button></div>
  </div>
</form>
